<% layout('/layouts/boilearplate') -%>

  <body>
    <form style="margin-top: 10px" novalidate enctype="multipart/form-data" class="needs-validation" action="/listings/<%= listing._id %>?_method=PUT "
      method="post">
      <h5 style="margin-bottom: 20px">Edit Listing</h5>

      <div class="form-group mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" required name="title" class="form-control" value="<%= listing.title %>" />
        <div class="invalid-feedback">
          Title Should be required
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" required name="description" class="form-control" rows="3">
<%= listing.description %></textarea>
        <div class="invalid-feedback">
          Description Should be required
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="image" class="form-label">Chhose Image</label>
        <input type="file" id="image"  name="image" class="form-control" value="<%= listing.image %>" />
      </div>
      <div class="row">
        <div class="form-group mb-3 col-4">
          <label for="price" class="form-label">Price</label>
          <input type="number" id="price" required name="price" class="form-control" value="<%= listing.price %>" />
          <div class="invalid-feedback">
            Price Should be required
          </div>
        </div>

        <div class="form-group mb-3 col-8">
          <label for="location" class="form-label">Location</label>
          <input type="text" id="location" required name="location" class="form-control"
            value="<%= listing.location %>" />

          <div class="invalid-feedback">
            Location Should be required
          </div>
        </div>



        <div class="form-group mb-3">
          <label for="country" class="form-label">Country</label>
          <input type="text" id="country" required name="country" class="form-control" value="<%= listing.country %>" />
          <div class="invalid-feedback">
            Country Should be required
          </div>
        </div>

        <div class="form-group mb-3 mt-3 mb-3">
          <input type="submit" value="Update Listing" class="btn btn-success" />
        </div>
    </form>
  </body>